<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rhyme Finder by Juno_okyo</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
	<style type="text/css">
		#output {
			display: none;
		}
	</style>
</head>

<body class="py-3">
	<div class="container" id="app">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Rhyme Finder v1.0 - Phát triển bởi JUNO_OKYO</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="alert alert-success mt-3" role="alert">
					<strong>🔥 HOT:</strong> Phiên bản v2.0 với nhiều tính năng hơn (tìm vần đôi, vần đảo, gợi ý tên bài
					hát,...) đã ra mắt.
					<a href="https://www.facebook.com/J2TEAM.ManhTuan/posts/pfbid0BvbK3EQ7mzQUGbVQpn4rmVHJ7j3Mf14bReQA7jPpfXseSi8wpfbuNBCSAeEtwJqPl"
						class="alert-link" target="_blank" rel="noopener noreferrer nofollow">Sử dụng ngay!!!</a>
				</div>

				<form @submit.prevent="handleSubmit" class="mt-3">
					<div class="form-group">
						<div class="input-group mb-3">
							<input type="text" v-model="inputValue" class="form-control" placeholder="Ví dụ: [a]nh"
								pattern="(.+)?\[(.)\](.+)?" required autofocus>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">ENTER</button>
							</div>
						</div>
					</div>
				</form>
				<table class="table table-bordered table-hover table-striped" v-if="showOutput">
					<thead>
						<tr class="table-primary">
							<th scope="col">Không dấu</th>
							<th scope="col">Sắc</th>
							<th scope="col">Huyền</th>
							<th scope="col">Hỏi</th>
							<th scope="col">Ngã</th>
							<th scope="col">Nặng</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in outputItems" :key="item.id">
							<td>{{ item.item1 }}</td>
							<td>{{ item.item2 }}</td>
							<td>{{ item.item3 }}</td>
							<td>{{ item.item4 }}</td>
							<td>{{ item.item5 }}</td>
							<td>{{ item.item6 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js"></script>
	<script src="juno_okyo.js"></script>
</body>

</html>
